@use "sass:color";
// Lengths 
$w380px: 380px;
$w450px: 450px;
$w480px: 480px;
$w546px: 546px;
$w652px: 652px;
$w700px: 700px;
$w720px: 720px;
$w768px: 768px;
$w880px: 880px;
$w900px: 900px;
$w960px: 960px;
$w980px: 980px;
$w1024px: 1024px;
$w1140px: 1140px;
$w1200px: 1200px;
$w1400px: 1400px;
$w1920px: 1920px;

// Font Family
$Nunito: 'Nunito';

// Colors
$White: #fff;
$Black: #000;
$Red-main: #ca215a;
$Red-dark: color.adjust($Red-main, $lightness: -15%);
$Red-light: color.adjust($Red-main, $lightness: -5%);

// Types
$normal: #a8a878;
$grass: #78c850;
$poison: #a040a0;